*{
    font-family: Inter;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    background-color: #21222A;
    height: 10vh;
}
.nav-main{
    display: flex;
}
.nav-heading{
    margin-left: 5%;
    color: #61DAFB;
    width: 100%;
}
.nav-logo{
    width: 60px;
    height: auto;
}
.nav-subheading{
    color: #DEEBF8;
    font-weight: bold;
}
.main-content{
    width: 100%;
    height: 100vh;
    background-color: #282D35;
    padding: 5%;
    color: white;
    background-image: url(./assets/react2.png);
    background-repeat: no-repeat;
    background-position: 90% 10%;
    background-size: 265px;

}
.main-heading{
    font-size: 3em;
}
.main-facts{
    display: flex;
    margin: 5%;
}
.facts-list > li {
    margin-top: 5%;
}
.facts-list > li::marker {
    color:#61DAFB;
    font-size: 1.4rem;
}